@page
@using _0_Framework.Application
@model ServiceHost.Pages.CartModel
@{
    ViewData["title"] = "سبد خرید";
}
<div class="container-main">
    <div class="d-block">
        <div class="main-row">
            <div id="breadcrumb">
                <i class="mdi mdi-home"></i>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-page="Index">خانه</a></li>
                        <li class="breadcrumb-item active" aria-current="page">سبد خرید</li>
                    </ol>
                </nav>
            </div>
            <section class="cart-home">
                <div class="post-item-cart d-block order-2">
                    <div class="content-page">
                        <div class="cart-form">

                            <div id="productStockWarnings">
                                @foreach (var item in Model.CartItems.Where(x => !x.IsInStock))
                                {
                                    <div class="alert alert-warning" id="@item.Id">
                                        <i class="fa fa-warning"></i> کالای
                                        <strong>@item.Name</strong>
                                        در انبار کمتر از تعداد درخواستی موجود است.
                                    </div>
                                }
                            </div>

                            <form action="#" class="c-form">
                                <table class="table-cart cart table table-borderless">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="product-cart-name">نام محصول</th>
                                            <th scope="col" class="product-cart-quantity">تعداد مورد نیاز</th>
                                            <th scope="col" class="product-cart-price">قیمت</th>
                                            <th scope="col" class="product-cart-Total">مجموع</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.CartItems)
                                        {
                                            <tr>
                                                <th scope="row" class="product-cart-name">
                                                    <div class="product-thumbnail-img">
                                                        <a href="#">
                                                            <img src="~/ProductPictures/@item.Picture" alt="@item.Name">
                                                        </a>
                                                        <div class="product-remove">
                                                            <a asp-page-handler="RemoveFromCart" asp-route-id="@item.Id" class="remove">
                                                                <i class="mdi mdi-close"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="product-title">
                                                        <a href="#">
                                                            @item.Name
                                                        </a>
                                                        <div class="variation">
                                                            <div class="variant-color">
                                                                <span class="variant-color-title">سفید</span>
                                                                <div class="variant-shape"></div>
                                                            </div>
                                                            <div class="variant-guarantee">
                                                                <i class="mdi mdi-check"></i>
                                                                گارانتی ۱۸ ماهه
                                                            </div>
                                                            <div class="seller">
                                                                فروشنده :
                                                                <span>دیجی اسمارت</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </th>
                                                <td class="product-cart-quantity">
                                                    <div class="required-number before">
                                                        <div class="quantity">
                                                            <input type="number" min="1" max="100" step="1" value="@item.Count" onchange="changeCartItemCount('@item.Id', 'totalItemPrice-@item.Id', this.value)">
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="product-cart-price">
                                                    <span class="amount">
                                                        @item.UnitPrice.ToMoney()
                                                        <span>تومان</span>
                                                    </span>
                                                </td>
                                                <td class="product-cart-Total">
                                                    <span id="totalItemPrice-@item.Id" class="amount">
                                                        @item.TotalItemPrice.ToMoney()
                                                        <span>تومان</span>
                                                    </span>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </form>
                        </div>
                        <div class="cart-empty text-right d-block">
                            <div class="return-to-shop">
                                <a asp-page="Checkout" class="backward btn btn-secondary">تکمیل فرایند</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>