@page
@using _0_Framework.Application
@using ShopManagement.Application.Contracts
@model ServiceHost.Pages.CheckoutModel
@{

    ViewData["Title"] = "تایید سبد خرید و پرداخت";
}
<!-- checkout------------------------------>
<div class="container-main">
    <div class="d-block">
        <section class="blog-checkout d-block order-1">
            <div class="col-lg">
                <div class="checkout woocommerce-checkout">
                    <div class="content-checkout container">
                        <div class="notices-wrapper">
                            <div class="col-12">
                                <div class="form-coupon-toggle">
                                    <div class="info">
                                        کد تخفیف دارید؟
                                        <a href="#" class="showcoupon">برای نوشتن کد اینجا کلیک کنید</a>
                                    </div>
                                    <div class="checkout-coupon form-coupon">
                                        <p>اگر کد تخفیف دارید، لطفا وارد کنید.</p>
                                        <form action="#" class="form-coupon">
                                            <div class="form-row">
                                                <input type="text" name="coupon-code" class="checkout-discount-code" placeholder="کد تخفیف">
                                                <div class="append pl">
                                                    <button class="btn-append btn btn-primary" type="submit">اعمال تخفیف</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="middle-container">
                            <form action="#" class="form-checkout">
                                <div class="col2-set" id="customer-details">
                                    <div class="col-12">
                                        <div class="billing-fields mt-4">
                                            <h4>جزئیات صورتحساب</h4>
                                            <div class="form-checkout-row">
                                                <div class="validate-required">
                                                    <label for="name">نام تحویل گیرنده <abbr class="required" title="ضروری" style="color:red;">*</abbr></span></label>
                                                    <input type="text" id="name" class="input-name-checkout form-control">
                                                </div>

                                                <div class="validate-required">
                                                    <label for="phone-number">شماره موبایل <abbr class="required" title="ضروری" style="color:red;">*</abbr></label>
                                                    <input type="text" id="phone-number" class="input-name-checkout form-control text-left">
                                                </div>

                                                <div class="validate-required">
                                                    <label for="post-code">کد پستی <abbr class="required" title="ضروری" style="color:red;">*</abbr></label>
                                                    <input type="text" id="post-code" class="input-name-checkout form-control" placeholder="کد پستی را بدون خط تیره بنویسید">
                                                </div>

                                                <div class="validate-required">
                                                    <label for="Street">خیابان <abbr class="required" title="ضروری" style="color:red;">*</abbr></label>
                                                    <input type="text" id="post-code" class="input-name-checkout form-control">
                                                </div>

                                                <div class="Order-another-shipping-address mt-5">
                                                    <div class="Order-address d-inline-block">
                                                        <button class="btn btn-block text-right collapsed" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                                            <span>سفارش به آدرس دیگری حمل شود؟</span>
                                                        </button>
                                                    </div>
                                                    <div class="shipping-address">
                                                        <div id="collapseExample" class="collapse">
                                                            <div class="middle-container">
                                                                <form action="#" class="form-checkout">
                                                                    <div class="form-checkout-row">
                                                                        <label for="name">نام تحویل گیرنده <abbr class="required" title="ضروری" style="color:red;">*</abbr></span></label>
                                                                        <input type="text" id="name" class="input-name-checkout form-control">
                                                                        <label for="phone-number">شماره موبایل <abbr class="required" title="ضروری" style="color:red;">*</abbr></label>
                                                                        <input type="text" id="phone-number" class="input-name-checkout form-control text-left">
                                                                        <label for="fixed-number">شماره تلفن ثابت <abbr class="required" title="ضروری" style="color:red;">*</abbr></label>
                                                                        <input type="text" id="fixed-number" class="input-name-checkout form-control text-left">

                                                                        <div class="form-checkout-valid-row">
                                                                            <label for="province">
                                                                                استان
                                                                                <abbr class="required" title="ضروری" style="color:red;">*</abbr>
                                                                            </label>
                                                                            <select name="" id="province" class="form-control">
                                                                                <option value="date-desc" selected="selected">استان مورد نظر خود را انتخاب کنید </option>
                                                                                <option value="date-asc">تهران</option>
                                                                                <option value="rate">مشهد</option>
                                                                                <option value="views">اصفهان</option>
                                                                                <option value="comments">شیراز</option>
                                                                            </select>
                                                                            <label for="bld-num">
                                                                                پلاک
                                                                                <abbr class="required" title="ضروری" style="color:red;">*</abbr>
                                                                            </label>
                                                                            <input type="text" id="bld-num" class="input-name-checkout js-input-bld-num form-control">

                                                                        </div>

                                                                        <div class="form-checkout-valid-row">
                                                                            <label for="city">
                                                                                شهر
                                                                                <abbr class="required" title="ضروری" style="color:red;">*</abbr>
                                                                            </label>
                                                                            <select name="" id="city" class="form-control">
                                                                                <option value="date-desc" selected="selected">شهر مورد نظر خود را انتخاب کنید</option>
                                                                                <option value="date-asc">آشخانه</option>
                                                                                <option value="rate">شیروان</option>
                                                                                <option value="views">اسفراین</option>
                                                                                <option value="comments">جاجرم</option>
                                                                            </select>
                                                                            <label for="apt-id">واحد</label>
                                                                            <input type="text" id="apt-id" class="input-name-checkout js-input-apt-id form-control">
                                                                        </div>

                                                                        <label for="post-code">کد پستی<abbr class="required" title="ضروری" style="color:red;">*</abbr></label>
                                                                        <input type="text" id="post-code" class="input-name-checkout form-control" placeholder="کد پستی را بدون خط تیره بنویسید">

                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <label for="address">
                                                    توضیحات سفارش
                                                    <span class="optional">(اختیاری)</span>
                                                </label>
                                                <textarea rows="5" cols="30" id="address" class="textarea-name-checkout form-control" placeholder="یادداشت ها درباره سفارش شما ، برای مثال نکات مهم برای تحویل بار "></textarea>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="order-review-heading">سفارش شما</h3>
                                <div class="checkout-review-order">
                                    <table class="checkout-review-order-table table table-borderless">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="product-name">محصول</th>
                                                <th scope="col" class="product-price">قیمت کل</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Cart.Items)
                                            {
                                                <tr class="checkout-cart-item">
                                                    <td class="product-name">@item.Name</td>
                                                    <td class="product-price text-info">
                                                        <span class="amount">
                                                            @item.ItemPayAmount.ToMoney()
                                                            <span>تومان</span>
                                                        </span>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>

                                            <tr class="cart-subtotal">
                                                <th>مجموع</th>
                                                <td>
                                                    <span class="amount">
                                                        @Model.Cart.TotalAmount.ToMoney()
                                                        <span>تومان</span>
                                                    </span>
                                                </td>
                                            </tr>

                                            <tr class="cart-discount">
                                                <th>تخفیف شما از این خرید</th>
                                                <td data-title=" تخفیف شما از این خرید ">
                                                    <div class="price">
                                                        <del>
                                                            <span>
                                                                @Model.Cart.TotalAmount.ToMoney()
                                                                <span>تومان</span>
                                                            </span>
                                                        </del>
                                                        <ins>
                                                            <span class="amount">
                                                                @Model.Cart.PayAmount.ToMoney()
                                                                <span>تومان</span>
                                                            </span>
                                                        </ins>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                    <ul class="checkout-payment-methods">
                                        <li class="checkout-payment-method-item d-block">
                                            <label for="#" class="outline-radio">
                                                <input type="radio" name="payment_method" id="payment-option-online" checked>
                                                <span class="outline-radio-check"></span>
                                            </label>
                                            <label for="#" class="shipping-totals-title-row">
                                                <div class="shipping-totals-title">افزایش اعتبار و پرداخت از کیف پول</div>
                                            </label>
                                        </li>
                                        <li class="checkout-payment-method-item d-block">
                                            <label for="#" class="outline-radio">
                                                <input type="radio" name="payment_method" id="payment-option-online">
                                                <span class="outline-radio-check"></span>
                                            </label>
                                            <label for="#" class="shipping-totals-title-row">
                                                <div class="shipping-totals-title">پرداخت اینترنتی هوشمند</div>
                                            </label>
                                        </li>
                                        <li class="checkout-payment-method-item d-block">
                                            <label for="#" class="outline-radio">
                                                <input type="radio" name="payment_method" id="payment-option-online">
                                                <span class="outline-radio-check"></span>
                                            </label>
                                            <label for="#" class="shipping-totals-title-row">
                                                <div class="shipping-totals-title">پرداخت هنگام دریافت</div>
                                            </label>
                                        </li>
                                    </ul>
                                    <div class="form-auth-row">
                                        <label for="#" class="ui-checkbox mt-1">
                                            <input type="checkbox" value="1" name="login" id="remember">
                                            <span class="ui-checkbox-check"></span>
                                        </label>
                                        <label for="remember" class="remember-me mr-0"><a href="#">حریم خصوصی</a> و <a href="#">شرایط قوانین </a>استفاده از سرویس های سایت دیجی‌اسمارت را مطالعه نموده و با کلیه موارد آن موافقم <abbr class="required" title="ضروری" style="color:red;">*</abbr></label>
                                    </div>
                                    <button class="btn-Order btn btn-primary mt-4 mb-3" type="submit">ثبت سفارش</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- checkout------------------------------>