@model List<_01_LampshadeQuery.Contracts.Product.ProductQueryModel>

<div class="slider-moments mt-4">
    <div class="widget-suggestion widget card">
        <header class="card-header promo-single-headline">
            <h3 class="card-title">پیشنهاد لحظه‌ای</h3>
        </header>

        <div id="suggestion-slider" class="owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
            <div class="owl-stage-outer">

                <div class="owl-stage" style="transform: translate3d(1369px, 0px, 0px); transition: all 0.25s ease 0s; width: 2190px;">
                    @foreach (var product in Model)
                    {
                        <div class="owl-item cloned" style="width: 273.75px;">

                            <div class="item">
                                <a asp-page="/Product" asp-route-id="@product.Slug">
                                    <img src="~/ProductPictures/@product.Picture" class="w-100" alt="@product.PictureAlt" title="@product.PictureTitle">
                                </a>
                                <h3 class="product-title">
                                    <a asp-page="/ProductDetail" asp-route-id="@product.Slug">
                                        @product.Name
                                    </a>
                                </h3>
                                <div class="price">
                                    @if (product.HasDiscount)
                                    {
                                        @*<del><span>@product.Price<span>تومان</span></span></del>*@
                                        <span class="amount">@product.Price<span>تومان</span></span>
                                        <ins><span>@product.PriceWithDiscount<span>تومان</span></span></ins>
                                    }
                                    else
                                    {
                                        @*<ins><span>@product.Price<span>تومان</span></span></ins>*@
                                        <span class="amount">@product.Price<span>تومان</span></span>
                                    }

                                </div>
                            </div>

                        </div>
                    }
                </div>

            </div>

        </div>
        @foreach (var slide in Model)
        {
            <div id="@slide.Id">
                <div class="slide-progress @(Model.First() == slide ? "active" : "")" style="width: 100%; transition: width 5000ms ease 0s;"></div>
            </div>
        }
    </div>
</div>