@model List<_01_LampshadeQuery.Contracts.Product.ProductQueryModel>

<div class="slider-widget-products slider-content-tabs pr-0 pl-0">
    <div class="widget widget-product card slider-content-tabs pr-0 pl-0">
        <header class="card-header">
            <span class="title-one">محصولات جدید</span>
            <h3 class="card-title"></h3>
        </header>
        <div class="product-carousel owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
            <div class="owl-stage-outer">
                <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1534px;">
                    @foreach (var product in Model)
                    {
                        <div class="owl-item active tab-item" style="width: 296.75px; margin-left: 10px;">

                            <div class="item">
                                <a asp-page="/Product" asp-route-id="@product.Slug" class="d-block hover-img-link">
                                    <img src="~/ProductPictures/@product.Picture" class="img-fluid" alt="@product.PictureAlt" title="@product.PictureTitle">
                                </a>
                                <h2 class="post-title">
                                    <a asp-page="/Product" asp-route-id="@product.Slug">
                                        @product.Name
                                    </a>
                                </h2>
                                <div class="price">
                                    @if (product.HasDiscount)
                                    {
                                        <del><span>@product.Price<span>تومان</span></span></del>
                                        <ins><span>@product.PriceWithDiscount<span>تومان</span></span></ins>
                                    }
                                    else
                                    {
                                        <ins><span>@product.Price<span>تومان</span></span></ins>
                                    }
                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>
            <div class="owl-nav">
                <button type="button" role="presentation" class="owl-prev disabled">
                    <i class="fa fa-angle-right"></i>
                </button>
                <button type="button" role="presentation" class="owl-next">
                    <i class="fa fa-angle-left"></i>
                </button>
            </div>
            <div class="owl-dots disabled"></div>
            <div class="owl-nav"><button type="button" role="presentation" class="owl-prev disabled"><i class="fa fa-angle-right"></i></button><button type="button" role="presentation" class="owl-next"><i class="fa fa-angle-left"></i></button></div><div class="owl-dots disabled"></div>
        </div>
    </div>
</div>